body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    
    
}
.half{
    float: left;
    margin-left: 5%;
    padding-left:2%;
    width: 40%;
}
h1{
    font-size: 30px;
}
.btn{
    padding: 10px 20px;
    color: white;
    background-color:rgb(244, 8, 134);
}
section{
    height: 600px;
}
.top{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    
    
}
.middle{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
   
}
.pic{
    
    float: left;
    text-align: center;
    margin-left:5%;
    padding-left:2%;
    padding-top: 2%;
    width:15%;
    }
    .work{
        background-image:url(images/latest-work-bg.png) ;
        background-repeat: no-repeat;
    }
h6{
    color: gainsboro;
}
#box{
    text-align: center;
    border:10px solid white;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(255, 0, 136);
    border-radius: 20px;
    padding: 25px;
    
    
}
.foot{
    text-align: center;
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
}